# node_modules
node_modules/
web/node_modules/
desktop-app/node_modules/

# Design Assets / Prototypes
videolighter_desktop_design/
videolighter_web_design/

# Tauri / Rust
desktop-app/src-tauri/target/
desktop-app/src-tauri/binaries/
desktop-app/src-tauri/bin/
desktop-app/src-tauri/*.exe
desktop-app/dist/

# Environment variables
.env
.env*
!.env.example
web/.env*
desktop-app/.env*

# Build outputs
web/dist/
web/dist-ssr/

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
Thumbs.db
desktop.ini
